/* components/styles/Header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #110000;
  color: white;
  padding: 20px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Khoảng cách giữa logo và tên */
}
.header-logo {
  width: 50px; /* Điều chỉnh kích thước logo */
  height: 50px; /* Đảm bảo chiều cao bằng với chiều rộng */
  border-radius: 50%; /* Bo tròn ảnh để thành hình tròn */
  object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
}

nav ul li.active {
  color: #4caf50;
  font-size: 18px;
  text-decoration: underline;
}
